@media dapper_Crud.Models.Products

@{
    ViewData["Title"] = "Novo Produto";
}

<h4 class="alert alert-secondary">Novo Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form>
            <div asp-validation-sumary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="salvar" class="btn btn-outline-success btn-sm"/> &emsp;
                <a asp-acrion="Index" class="btn btn-link btn-sm">Voltar</a>
            </div>
        </form>
    </div>
</div>
